<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            id="net.bioclipse.jmol.business.JmolManager"
            service="net.bioclipse.jmol.business.JmolManagerFactory">
      </scriptContribution>
   </extension>

   <extension
         point="net.bioclipse.ui.business.editorShortname">
         <shortname
               alias="jmol"
               editorID="net.bioclipse.jmol.editors.JmolEditor">
         </shortname>
         <shortname
               alias="3d"
               editorID="net.bioclipse.jmol.editors.JmolEditor">
         </shortname>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Jmol Editor"
          icon="icons/molecule3D.png"
            contributorClass="net.bioclipse.jmol.editors.JmolEditorContributor"
            class="net.bioclipse.jmol.editors.JmolEditor"
            default="true"
            id="net.bioclipse.jmol.editors.JmolEditor">
            <contentTypeBinding
                  contentTypeId="net.bioclipse.contenttypes.pdb">
            </contentTypeBinding>
            <contentTypeBinding
                  contentTypeId="net.bioclipse.contenttypes.mdlMolFile3D">
            </contentTypeBinding>
            <contentTypeBinding
                  contentTypeId="net.bioclipse.contenttypes.cml.singleMolecule3d">
            </contentTypeBinding>
            <contentTypeBinding
                  contentTypeId="net.bioclipse.contenttypes.cml.singleMolecule5d">
            </contentTypeBinding>
            <contentTypeBinding
                  contentTypeId="net.bioclipse.contenttypes.sdf3d">
            </contentTypeBinding>
      </editor>
   </extension>

   <!--
     Temporarily disabled (see bug #788), but to be
     renabled for 2.1 (see bug #789).

   extension
         point="org.eclipse.ui.editors">
      <editor
            name="Jmol Script"
            extensions="jmol,scr"
            icon="icons/molecule3D.png"
            class="net.bioclipse.jmol.editors.script.JmolScriptEditor"
            id="net.bioclipse.jmol.editors.script.JmolScriptEditor"
            default="true">
      </editor>
   </extension -->

<extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor contributorId="net.bioclipse.jmol.views.outline.JmolContentOutlinePage">
			<propertyCategory category="Chain"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs contributorId="net.bioclipse.jmol.views.outline.JmolContentOutlinePage">
         <propertyTab
            category="Chain"
               id="jmol.ChainTab"
            label="Chain"/>
      </propertyTabs>
   </extension>

 <extension point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections contributorId="net.bioclipse.jmol.views.outline.JmolContentOutlinePage">
         <propertySection
               class="net.bioclipse.jmol.views.properties.NameSection"
               id="jmol.NameSection"
               tab="jmol.ChainTab">
            <input type="net.bioclipse.jmol.views.outline.JmolChain"/>
         </propertySection>
         <propertySection
               afterSection="jmol.NameSection"
               class="net.bioclipse.jmol.views.properties.SequenceSection"
               id="jmol.SequenceSection"
               tab="jmol.ChainTab">
            <input type="net.bioclipse.jmol.views.outline.JmolChain"/>
         </propertySection>
         <!--propertySection
               afterSection="mview.LabelSection"
               class="mview.views.SizeSection"
               id="mview.SizeSection"
               tab="mview.ButtonTab">
            <input type="net.bioclipse.jmol.views.outline.JmolObject"/>
         </propertySection-->
      </propertySections>
   </extension>


 <extension
         point="org.eclipse.ui.commands">
      <command
            id="net.bioclipse.jmol.actions.runscript"
            description="Run a Jmol script"
            name="Run script">
            <commandParameter
                  id="net.bioclipse.jmol.scriptParameter"
                  name="script"
                  optional="true">
            </commandParameter>
      </command>
      <command
            id="net.bioclipse.jmol.actions.export"
            description="Export as image"
            name="Export">
      </command>
      <command
            id="net.bioclipse.jmol.actions.runEditorScript"
            description="Run the Jmol script in the activeeditor"
            name="Run Script">
      </command>

</extension>

 <extension
         point="org.eclipse.ui.handlers">
		<handler
            class="net.bioclipse.jmol.actions.RunScriptHandler"
            commandId="net.bioclipse.jmol.actions.runscript">
      </handler>
		<handler
            class="net.bioclipse.jmol.actions.ExportHandler"
            commandId="net.bioclipse.jmol.actions.export">
      </handler>
		<handler
            class="net.bioclipse.jmol.actions.RunEditorScriptHandler"
            commandId="net.bioclipse.jmol.actions.runEditorScript">
      </handler>

</extension>


<extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="net.bioclipse.definitions.activeJmolEditor">
         <with
               variable="activeEditorId">
            <equals
                  value="net.bioclipse.jmol.editors.JmolEditor">
            </equals>
         </with>
      </definition>
      <definition
            id="net.bioclipse.definitions.activeJmolScriptEditor">
         <with
               variable="activeEditorId">
            <equals
                  value="net.bioclipse.jmol.editors.script.JmolScriptEditor">
            </equals>
         </with>
      </definition>
</extension>


</plugin>
