<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

	<extension
		point="org.eclipse.ui.contexts">
		<context
			name="Chemoinformatics"
			description="Chemoinformatics"
			id="net.bioclipse.contexts.chemoinformatics">
		</context>
   </extension>

  <extension point="org.eclipse.core.contenttype.contentTypes">
    <content-type base-type="org.eclipse.core.runtime.text"
      id="net.bioclipse.contenttypes.smiles.singlemol"
      name="SMILES value (Single Molecule)"
      file-extensions="smiles,smi"
      priority="normal">
    </content-type>
    <content-type
              base-type="org.eclipse.core.runtime.text"
              file-extensions="pdb"
              id="net.bioclipse.contenttypes.pdb"
              name="Protein Brookhaven Database File"
              priority="high">
        </content-type>

        <content-type
              base-type="org.eclipse.core.runtime.text"
              id="net.bioclipse.contenttypes.sdf"
              file-extensions="sdf"
              name="MDL SD file"
              priority="high">
        </content-type>
        <content-type
              base-type="net.bioclipse.contenttypes.sdf"
              file-extensions="sdf"
              id="net.bioclipse.contenttypes.sdf0d"
              name="MDL SD file (0D)"
              priority="high">
		   <describer class="net.bioclipse.chemoinformatics.contenttypes.MdlMolFileCoordinatesDescriber">
              <parameter name="type" value="0D"/>
       	   </describer>
        </content-type>
        <content-type
              base-type="net.bioclipse.contenttypes.sdf"
              file-extensions="sdf"
              id="net.bioclipse.contenttypes.sdf2d"
              name="MDL SD file (2D)"
              priority="high">
		   <describer class="net.bioclipse.chemoinformatics.contenttypes.MdlMolFileCoordinatesDescriber">
              <parameter name="type" value="2D"/>
       	   </describer>
        </content-type>
        <content-type
              base-type="net.bioclipse.contenttypes.sdf"
              file-extensions="sdf"
              id="net.bioclipse.contenttypes.sdf3d"
              name="MDL SD file (3D)"
              priority="high">
		   <describer class="net.bioclipse.chemoinformatics.contenttypes.MdlMolFileCoordinatesDescriber">
              <parameter name="type" value="3D"/>
       	   </describer>
        </content-type>

        <content-type
              base-type="org.eclipse.core.runtime.text"
              file-extensions="smi"
              id="net.bioclipse.contenttypes.smi"
              name="SMILES (Multiple Molecules)"
              priority="high">
        </content-type>

        <content-type
              base-type="org.eclipse.core.runtime.text"
              id="net.bioclipse.contenttypes.mdlMolFile"
              name="MDL MolFile"
              priority="high">
        </content-type>

        <content-type
              base-type="net.bioclipse.contenttypes.mdlMolFile"
              file-extensions="mdl,mol"
              id="net.bioclipse.contenttypes.mdlMolFile0D"
              name="MDL Molfile (0D)"
              priority="high">
		 <describer class="net.bioclipse.chemoinformatics.contenttypes.MdlMolFileCoordinatesDescriber">
              <parameter
                    name="type"
                    value="0D">
              </parameter>
       	</describer>
        </content-type>

        <content-type
              base-type="net.bioclipse.contenttypes.mdlMolFile"
              file-extensions="mdl,mol"
              id="net.bioclipse.contenttypes.mdlMolFile2D"
              name="MDL Molfile (2D)"
              priority="high">
		 <describer class="net.bioclipse.chemoinformatics.contenttypes.MdlMolFileCoordinatesDescriber">
              <parameter
                    name="type"
                    value="2D">
              </parameter>
       	</describer>
        </content-type>

        <content-type
              base-type="net.bioclipse.contenttypes.mdlMolFile"
              file-extensions="mdl,mol"
              id="net.bioclipse.contenttypes.mdlMolFile3D"
              name="MDL molfile (3D)"
              priority="high">
		 <describer class="net.bioclipse.chemoinformatics.contenttypes.MdlMolFileCoordinatesDescriber">
              <parameter
                    name="type"
                    value="3D">
              </parameter>
       	</describer>
        </content-type>

        <content-type
              base-type="org.eclipse.core.runtime.text"
              file-extensions="rxn"
              id="net.bioclipse.contenttypes.rxnFile"
              name="RXN reaction file"
              priority="high">
        </content-type>

     </extension>


</plugin>
